* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container-cadastro {
    display: flex;
    background-color: #e5e5e5;
    justify-content: space-between;
    background-image: url(assets/FotosSite/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    height: 729px;
    width: 100%;
    position: relative;
}

.container-bem-vindo {
    display: flex;
    align-items: center;
    font-family: system-ui, -apple-system, 'Open Sans', sans-serif;
    margin-right: 329px;
}


h1 {
    display: flex;
    color: aliceblue;
    bottom: 330px;
    font-size: 40px;
    right: 980px;
    position: absolute;
}


.main-input {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    gap: 2px;
    margin-right: 50px;
}

.main-input h3 {
    display: flex;
    margin-bottom: 100px;
    font-size: 40px;

}

.main-input input {
    display: flex;
    border: none;
    height: 52px;
    width: 370px;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 10px;
}


.button button {
    width: 150px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: #910101;
    color: #e5e5e5;
    font-size: 17px;
    align-items: center;
}

.button p {
    font-size: 18px;
    margin-top: 20px;
}



.button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.link_voltar {
    color: #910101;
    background-color: #e5e5e5;
    width: 90px;
    height: 40px;
    margin: 30px;
    border-radius: 20px;
    text-align: center;
    padding-top: 10px;
    font-size: 18px;
    text-decoration: none;
}