* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   


body {
    display: flex;
    background-color: #fff;
    height: 100vh;
    padding-left: 100px;
    justify-content: end;
    align-items: center;
    margin-left: 20px;
}


.nav-bar{
    display: flex;
    height: 100vh;
    width: 250px;
    justify-content: space-around;
    flex-direction: column;
    background-color: #6B0101;
    align-items: center;
    gap: 50px;
    color: #fff;
    position: fixed;
    left: 0;
    top: 0;
}   

.links{
    display: flex;
    flex-direction: column;
    gap: 80px;

}

.links a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;

}



.sair{
    display: flex;
    color: #6B0101;
    background-color: #fff;
    border-radius: 12px;
    width: 130px;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}


.sair a {
    text-decoration: none;
    color: #6B0101;
    font-weight: 600;
}


/* INICIO DO GRAFICO*/

.pai-grafico{
    display: flex;
    flex-direction: column; 
    align-items: center;     
    justify-content: start;
    height: 100vh;
    width: 91%;
    background-color: #D9D9D9;
}


.kpi {
    display: flex;
    flex-direction: column;
    background-color: rgb(105, 3, 3);
    border-radius: 35px;
    align-items: center;
    justify-content: center;    
    height: 130px;
    width: 250px;
    color: #fff;  
    font-size: 20px;
}

.kpi span {
    margin-top: 25px;
    font-size: 30px;
}

.kpi p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.kpis-linha{
    display: flex;
    gap: 40px;
    margin-top:40px;
    justify-content: space-evenly;
    gap: 120px;

}

#graficoUMES {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(107, 1, 1, 0.3);
}

.grafico1 {
  background-color: #D9D9D9;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}



/* FIM DO GRAFICO*/
  