* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   


body {
    display: flex;
    background-color: #fff;
    height: 100vh;
    padding: 100px;
    justify-content: end;
    align-items: center;
    margin-left: 20px;
}


.nav-bar{
    display: flex;
    height: 100vh;
    width: 250px;
    justify-content: space-around;
    flex-direction: column;
    background-color: #6B0101;
    align-items: center;
    gap: 50px;
    color: #fff;
    position: fixed;
    left: 0;
    top: 0;
}   

.links{
    display: flex;
    flex-direction: column;
    gap: 80px;

}

.links a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;

}



.sair{
    display: flex;
    color: #6B0101;
    background-color: #fff;
    border-radius: 12px;
    width: 130px;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}


.sair a {
    text-decoration: none;
    color: #6B0101;
    font-weight: 600;
}


.kpi {
    display: flex;
}