*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

 /* INICIO DA NAVBAR  */

.container-navbar{
    display: flex;
    flex-direction: row;
    background-color: #600404   ;
    padding: 15px;
    justify-content: space-between;
    align-items: center;

}

.container-navbar img{
    display: flex;
    margin-left: 30px;
    width: 70px;

}



.links-navbar{
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    margin-right: 500px;
    gap: 25px;
 
}

.links-navbar a{
    text-decoration: none;
    color: azure;
    font-size: 17px;
}


.button-navbar {
    margin-right: 30PX;
    
}

.button-navbar button{
    width: 110px;
    padding: 10px;
    border-radius: 20px;
    margin-right: 20PX;
    border: none;
}

 /* FIM DA NAVBAR  */


/* INICIO DA TELA INICIAL */

 .container-inicial {
    display: flex;
    background-image: url(../FotosSite/Inicio_UMES2.png);
    height: 630px ;
    background-size: cover;
    background-color: #3b3b3b;
    align-items: center;
    justify-content: center;

 }

 .main-txt  {
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    flex-direction: column;
    font-size: 20px;

 }

 .container-caixas{
    display: flex;
    justify-content: center;
    align-items: center;

    
 }

/* FIM DA TELA INICIAL */


/*INICIO DA UMES*/

.container-umes {
    display: flex;
    background-color: #E5E5E5;
    height: 580px;
    align-items: center;
    justify-content: space-around;

}

.main-umes-txt {
    display: flex;
    background-color: #fff;
    height: 470px;
    width: 515px;
    border-radius: 20px ;
    margin-top: 10px;
    flex-direction: column ;
    align-items: center;
    gap: 50px;
    padding-top: 60px;
    padding-left: 25px;
    padding-right: 22px;
    font-size: 20px;
    

}

.main-umes-txt span{
 display: flex;
 font-size: 25px;

}

.main-umes-img img {
    width: 513px;
    height: 468px;
    margin-top: 10px;
    border-radius: 15px;
    
}

/*FIM  DA UMES*/


/* INICIO MOVIMENTO*/

.container-movimento {
    display: flex;
    background-color: #6B0101; 
    height: 500px;
    flex-direction: column;

}

.container-titulo-movimento {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    flex-direction: row;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;

}

.container-caixas{
display: flex;
justify-content: space-around;
margin-left: 65px;
margin-right: 65px;


}

.cards {
    background-color: #fff;
    height: 310px;
    width: 360px;
    border-radius: 30px;
    text-align: center;
    padding-top:  60px;
    padding-left: 10px;
    padding-right: 10px;
  
}

.cards h3 { 
    padding-bottom: 30px;
    font-size: 25px;
    color: #6B0101;
}

.cards span {
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}


/* FIM MOVIMENTO*/
