*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

 /* INICIO DA NAVBAR  */

.container-navbar{
    display: flex;
    flex-direction: row;
    background-color: #600404   ;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;

}

.container-navbar img{
    display: flex;
    margin-left: 30px;
    width: 70px;

}



.links-navbar{
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    margin-right: 500px;
    gap: 25px;
 
}

.links-navbar a{
    text-decoration: none;
    color: azure;
    font-size: 17px;
    position: relative;
    padding-bottom: 2px;
}

.links-navbar a::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: #ccc;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.4s ease-in-out;
}

.links-navbar a:hover::after {
    width: 100%;
}


.login-cadastro-navbar a{
    width: 110px;
    padding: 12px;
    border-radius: 20px;
    margin-right: 20PX;
    background-color: #E5E5E5;
    text-decoration: none;
    color: #6B0101;
    font-weight: 880;
   
}

 /* FIM DA NAVBAR  */


/* INICIO DA TELA INICIAL */

 .container-inicial {
    display: flex;
    background-image: url(assets/FotosSite/Inicio_UMES2.png);
    height: 100vh;
    background-size: cover;
    background-color: #3b3b3b;
    align-items: center;
    justify-content: center;
 }

 .main-txt  {
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    flex-direction: column;
    font-size: 25px;

 }

 .container-caixas{
    display: flex;
    justify-content: center;
    align-items: center;

    
 }

/* FIM DA TELA INICIAL */


/*INICIO DA UMES*/

.container-umes {
    display: flex;
    background-color: #E5E5E5;
    height: 700px;
    align-items: center;
    justify-content: space-evenly;

   

}

.main-umes-txt {
    display: flex;
    background-color: #fff;
    height: 470px;
    width: 515px;
    border-radius: 20px ;
    margin-top: 10px;
    flex-direction: column ;
    align-items: center;
    gap: 50px;
    padding-top: 60px;
    padding-left: 25px;
    padding-right: 22px;
    font-size: 20px;

    

}

.main-umes-txt span{
 display: flex;
 font-size: 25px;

}

.main-umes-img img {
    width: 513px;
    height: 468px;
    margin-top: 10px;
    border-radius: 15px;
    
}

/*FIM  DA UMES*/


/* INICIO MOVIMENTO*/

.container-movimento {
    display: flex;
    background-color: #6B0101; 
    height: 580px;
    flex-direction: column;

}

.container-titulo-movimento {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    flex-direction: row;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;

}

.container-caixas{
display: flex;
justify-content: space-around;
margin-left: 65px;
margin-right: 65px;


}

.cards {
    background-color: #fff;
    height: 310px;
    width: 360px;
    border-radius: 30px;
    text-align: center;
    padding-top:  60px;
    padding-left: 10px;
    padding-right: 10px;
  
}

.cards h3 { 
    padding-bottom: 30px;
    font-size: 25px;
    color: #6B0101;
}

.cards span {
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}


/* FIM MOVIMENTO*/



    /* INICIO DAS CONQUISTAS */

.container-conquistas {
    display: flex;
    background-color: #E5E5E5;  
    height: 550px;
    text-align: center;
    justify-content: space-evenly;

}

.titulo-conquistas{
    display: flex;
    position: absolute;
    margin-bottom: 40px;
    margin-top: 80px;
    font-size: 23px;

}


.caixa-conquistas{
    display: flex;
    background-color: #fff;
    border-radius: 25px;
    width: 360px;
    height: 380px;
    flex-direction: column;
    justify-content: space-evenly;
    font-size:  20px;   
    align-items: center; 
    margin-top: 200px;
    padding: 10px;
}


    /* FIM DAS CONQUISTAS */

    /* FOOTER INICIO */

    .footer {
    background: #E5E5E5; /* fundo vermelho do footer */
    background-image: url("assets/FotosSite/Design\ sem\ nome.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 300px;

}


.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-links h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ccc;
}

.footer-links p,
.footer-links a {
    color: #ccc;
    font-size: 15px;
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
}

.footer-col a {
    color: #fff;
}

.footer hr {
    border: none;
    border-top: 2px solid #fff;
    margin: 40px auto;
    max-width: 1200px;
}

.footer-fim {
    text-align: center;
    color: #ccc;
    font-size: 15px;
    justify-content: center;  
    padding-bottom: 20px;  
}



/* FOOTER FIM */
