* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   


body {
    display: flex;
    background-color: #fff;
    height: 100vh;
    padding: 100px;
    justify-content: end;
    align-items: center;
    margin-left: 20px;
}


.nav-bar{
    display: flex;
    height: 100vh;
    width: 200px;
    justify-content: space-around;
    flex-direction: column;
    background-color: #6B0101;
    align-items: center;
    gap: 50px;
    color: #fff;
    position: fixed;
    left: 0;
    top: 0;
}   

.links{
    display: flex;
    flex-direction: column;
    gap: 80px;

}

.links a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;

}




.sair{
    display: flex;
    color: #6B0101;
    background-color: #fff;
    border-radius: 12px;
    width: 110px;
    height: 31px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.sair a {
    text-decoration: none;
}


.introdução{
    display: flex;
    background-color: #D9D9D9;
    border-radius: 50px;
    width: 87%;
    height: 82vh;
    padding: 30px;
    gap: 70px;
    
}

.texto{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
}

.texto p{
    font-size: 25px;
    padding-bottom: 50px;

}

.introdução img {
    margin-top: 70px;
    width: 350px;
    height: 400px;
}
